

#profilePhoto{
    height: 200px;
    width: 200px;
    border-radius: 50%;
}

#profileDiv{
    margin-bottom: 20px;
    text-align: center;
    vertical-align: middle;
    height: auto;
    width: auto;
}

#seperate{
    height: 1px;
    margin-bottom: 10px;
    width: 100%;
    background-color: #f1f1f1;
}

.sidenav {
    height: 100%;
    width: 20%;
    position: fixed;
    z-index: 1;
    top: 0;
    left: 0;
    background-color: #0F1708;
    overflow-x: hidden;
    padding-top: 20px;
}

.icon{
    height: 20px;
    width: 20px;
}

.sidenav a {
    padding: 6px 6px 6px 32px;
    text-decoration: none;
    font-size: 25px;
    color: #e0e0e0;
    display: block;
}

.sidenav a:hover {
    color: #c4f52e;
}

.main {
    margin-left: 20%; /* Same as the width of the sidenav */
}

@media screen and (max-height: 450px) {
  .sidenav {padding-top: 15px;}
  .sidenav a {font-size: 18px;}
}

.divBlog{
    background-color: #FFFEFE;
    padding: 10px;
    margin-bottom: 15px;
    margin-left: 5px;
    box-shadow: 5px 5px 5px #0e0e0e;
}

.blogTitle{
    font-size: 30px;
    font-family: sans-serif;
    text-shadow: 1px 1px #555555;
}

.blogContent{
    font-family: Verdana;
    font-size: 20px;
}

.docNameBlog{
    font-size: 15px;
    font-family: Arial;
}