

#profilePhoto{
    height: 200px;
    width: 200px;
    border-radius: 50%;
}

#profileDiv{
    margin-bottom: 20px;
    text-align: center;
    vertical-align: middle;
    height: auto;
    width: auto;
}

#logoutBtn{
    background: transparent;
    border: none;
    font-size: 0px;
    position: absolute;
    right: 0;
    bottom: 0;
}

#seperate{
    height: 1px;
    margin-bottom: 10px;
    width: 100%;
    background-color: #f1f1f1;
}

.sidenav {
    height:100%;
    width: 19%;
    font-family: 'Roboto Slab', serif;
    position: fixed;
    z-index: 1;
    top: 0;
    left: 0;
    background-color: #455A64;
    overflow-x: hidden;
    padding-top: 20px;
    box-shadow: 3px 3px 10px #020202;
    border-radius: 5px;
}

input[type=textarea] {
    width: 50%; 
    height: 25px;
    border: none;
    border-bottom: 2px solid red;
}

.icon{
    height: 20px;
    width: 20px;
}

#headingPage{
    font-family: 'Roboto Slab', serif;
    font-size: 35px;
    color: #020202;
}
#headingTable{
    font-family: 'Roboto Slab', serif;
    font-size: 35px;
    color: #020202;
}

.sidenav a {
    padding: 6px 6px 6px 32px;
    text-decoration: none;
    font-family: 'Roboto Slab', serif;
    font-size: 25px;
    color: #e0e0e0;
    display: block;
    margin: 0px;
}

.sidenav a:hover {
    background-color: #D32F2F;
}

.main {
    margin-left: 20%; /* Same as the width of the sidenav */
}

#personName{
    font-family: 'Roboto Slab', serif;
    font-size: 20px;
    color: #e0e0e0;
}

@media screen and (max-height: 450px) {
  .sidenav {padding-top: 15px;}
  .sidenav a {font-size: 18px;}
}

.divBlog{
    background-color: #D32F2F; 
    padding: 20px;
    width: 70%;
    margin-bottom: 30px;
    margin-left: auto;
    margin-right: auto;
    box-shadow: 3px 3px 10px #020202;
    opacity: 0.8;
    border-radius: 5px;
}

input[type=submit] {
    background-color: #D32F2F;
    border: none;
    color: white;
    padding: 16px 32px;
    text-decoration: none;
    margin: 4px 2px;
    cursor: pointer;
}


.blogTitle{
    margin: 0px;
    font-size: 30px;
    font-family: 'Roboto Slab', serif;
    text-shadow: 1px 1px #555555;
    color : #030303;
}

.blogContent{
    font-family: 'Roboto Slab', serif;
    font-size: 20px;
    color : #f1f1f1;
}

.divBlog > p, h1, h3, h4, h6 {
    font-family: 'Roboto Slab', serif;
    font-size: 20px;
    color : #f1f1f1;
}

.docNameBlog{
    color : #f1f1f1;
    font-size: 15px;
    font-family: 'Roboto Slab', serif;
}

td {

}