.quizimgblock {
  text-align: center;
  margin-bottom: 2em;
}

.wrapper {
  display: inline-block;
  vertical-align: top;
  position: relative;
}

.quizimgblock img.quizitems {
  width: 100%;
  height: auto;
}
.quizimgblock a:hover img{
  opacity: 0.5;
}
.quizimgblock .check {
  position: absolute;
  top:47%;
  left:47%;
  transform:translate(-45%, -45%);
}
.quizimgblock a .check {
  opacity: 0;
  z-index: 9;
  transition:opacity .5s ease
}
.quizimgblock .check img {
  border: 0px !important;
}
.quizimgblock a:hover .check {
  opacity: 1;
}
.quiz-answer.active .check {
  opacity: 1;
}
.quizimgblock a:hover .check img {
  opacity: 1 !important;
}



.quizbutton {
  text-align: center;
  margin: 1.25em auto 3em;
}
.quizbutton .quizbtn {
  display: inline-block;
  vertical-align: middle;
  padding: 0.65em 1.75em;
  background-color: #f6700e;
  -webkit-box-shadow: 0 1px 1px rgba(0, 0, 0, 0.4), inset 0 1px rgba(255, 255, 255, 0.6);
  -moz-box-shadow: 0 1px 1px rgba(0, 0, 0, 0.4), inset 0 1px rgba(255, 255, 255, 0.6);
  box-shadow: 0 1px 1px rgba(0, 0, 0, 0.4), inset 0 1px rgba(255, 255, 255, 0.6);
  border: solid 1px #f06c0b;
  font-family: 'Open Sans', sans-serif;
  font-size: 16px;
  line-height: 16px;
  text-transform: uppercase;
  color: white;
  text-shadow: 0px -1px 0px rgba(0, 0, 0, 0.3);
}
.quizbutton .quizbtn:hover {
  color: white;
  text-decoration: none;
  background-color: #f77f27;
  background-image: -webkit-gradient(linear, left top, left bottom, from(#f77f27), to(#f6700e));
  background-image: -webkit-linear-gradient(top, #f77f27, #f6700e);
  background-image: -moz-linear-gradient(top, #f77f27, #f6700e);
  background-image: -o-linear-gradient(top, #f77f27, #f6700e);
  background-image: linear-gradient(to bottom, #f77f27, #f6700e);
}
.quizbutton .quizbtn:active {
  color: white;
  text-decoration: none;
  background-color: #f6700e;
  background-image: -webkit-gradient(linear, left top, left bottom, from(#f6700e), to(#f77f27));
  background-image: -webkit-linear-gradient(top, #f6700e, #f77f27);
  background-image: -moz-linear-gradient(top, #f6700e, #f77f27);
  background-image: -o-linear-gradient(top, #f6700e, #f77f27);
  background-image: linear-gradient(to bottom, #f6700e, #f77f27);
  -webkit-box-shadow: 0 0 0 1px #f58029, inset 0 1px 1px #b14f07;
  box-shadow: 0 0 0 1px #f58029, inset 0 1px 1px #b14f07;
}



@media only screen and (max-width: 767px) {
  .check { 
    top:35%; 
    left:35%; 
    transform:translate(-35%, -35%);
  }

	.quizimgblock .check img { 
      max-width: 40px; 
      max-height: 40px;
  }
}

@media (min-width: 768px) and (max-width: 991px) {
  .quizimgblock a .check {
	  vertical-align: middle;
	}

	.check { 
    top:35%; 
    left:35%; 
    transform:translate(-35%, -35%);
  }

	.quizimgblock .check img { 
     max-width: 55px; 
    max-height: 55px;
  }
}

@media (min-width: 992px) and (max-width: 1199px) {
  
}

@media screen (min-width: 1200px) {
 
}


